// Atoms
//
// This is the atoms chapter. Atoms are the only parts that contain actual
// class and style definitions. The higher level abastractions are mere
// composites of the existing atoms.
//
// Styleguide 1.0
// Ejemplo (bloque 1)
//
//
// .dc-bloque1_modelo1 - Modelo 1
// .dc-bloque1_modelo2 - Modelo 2
// default - Modelo base
//
// markup:
// <div class="dc-bloque1 {$modifiers}">
//   <div class="dc-bloque1__propiedad1">Primera propiedad</div>
//   <div class="dc-bloque1__propiedad2">Segunda propiedad</div>
// </div>
//
// Styleguide 1.1
.dc-bloque1 {
  font-family: $eg-default-fonts;
  border: thin solid $eg-color-black;
  .dc-bloque1__propiedad1 {
    font-size: 1.2em;
    background-color: $eg-color-orange;
    padding: $eg-spacings;
  }
  .dc-bloque1__propiedad2 {
    padding: $eg-spacings;
  }
  &.dc-bloque1_modelo1 {
    .dc-bloque1__propiedad1 {
      background-color: $eg-color-cyan;
    }
  }
  &.dc-bloque1_modelo2 {
    .dc-bloque1__propiedad1 {
      background-color: $eg-color-brown;
    }
  }
}
